:root {
  --fs-400: clamp(0.8594rem, 0.8177rem + 0.2083vw, 1rem);
  --fs-500: clamp(1.0313rem, 0.9664rem + 0.3241vw, 1.25rem);
  --fs-600: clamp(1.2375rem, 1.1412rem + 0.4815vw, 1.5625rem);
  --fs-700: clamp(1.485rem, 1.3463rem + 0.6935vw, 1.9531rem);
  --fs-800: clamp(1.7819rem, 1.5865rem + 0.9769vw, 2.4413rem);
  --fs-900: clamp(2.1381rem, 1.8674rem + 1.3537vw, 3.0519rem);
  --fs-1000: clamp(2.5663rem, 2.1963rem + 1.85vw, 3.815rem);
  --fs-1100: clamp(3.0794rem, 2.579rem + 2.5019vw, 4.7681rem);
  --fs-1200: clamp(3.695rem, 3.0237rem + 3.3565vw, 5.9606rem);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --ff-primary-100: "Inter", sans-serif;
  --ff-primary-200: "Urbanist", sans-serif;

  --clr-primary-100: hsl(265, 83%, 57%);
  --clr-primary-200: hsl(210, 100%, 98%);
  --clr-primary-300: hsl(22, 100%, 54%);
  --clr-primary-400: hsl(217, 100%, 61%);
  --clr-primary-500: hsl(238, 87%, 59%);

  --clr-neutral-100: black;
  --clr-neutral-200: white;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-weight: inherit;
}

body {
  background-color: var(--clr-primary-200);
}

/* typography */
h1,
h2,
h3,
h4 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-200);
}

.intro {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-700);
}

.subheading {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-600);
  line-height: 1;
  font-weight: var(--fw-semi-bold);
}

.body {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
}

footer .body {
  color: var(--clr-neutral-200);
  font-size: var(--fs-400);
}

.news_card-body {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  line-height: 1.3;
}

h1 {
  font-size: var(--fs-1200);
  font-weight: var(--fw-extra-bold);
  line-height: 0.8;
}

h2 {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  line-height: 1;
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  margin-top: 24px;
}

footer h3 {
  color: var(--clr-neutral-200);
}

.news_card::after {
  color: var(--clr-neutral-200);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  line-height: 1;
  font-family: var(--ff-primary-100);
}

.getInTouch label {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
}

footer small {
  color: var(--clr-neutral-200);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-400);
}

/* buttons & links */
.link-01 {
  color: var(--clr-neutral-200);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  text-decoration: none;
  font-weight: var(--fw-bold);
  background-color: var(--clr-primary-300);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  border: 2px solid black;
  margin: 16px auto 0 auto;
}

/* icons */
.icon_container a {
  color: var(--clr-neutral-100);
  font-size: var(--fs-800);
  padding: 0 4px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--clr-primary-100);
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header_logo {
  font-family: var(--ff-primary-200);
  font-size: 2.375em;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.header_nav-menu {
  background-color: var(--clr-primary-100);
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  font-size: 1.375em;
  font-family: var(--ff-primary-100);
  font-weight: 700;
  width: 100px;
  cursor: pointer;
}

nav ul {
  font-family: var(--ff-primary-100);
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  left: 0;
  flex-direction: column;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  top: 44px;
  padding: 0;
}

nav ul a {
  color: white;
  text-decoration: none;
}

nav ul li {
  text-align: center;
  list-style-type: none;
  font-size: var(--fs-600);
  padding: 8px 0;
}

nav ul li:hover {
  background-color: #8e45f5;
}

nav ul.open {
  max-height: 100vh;
  overflow: visible;
  background-color: var(--clr-primary-100);
  z-index: 1000;
}

.header_nav-bold {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .header_nav-menu {
    display: none;
  }
}

/* main */
main {
  width: fit-content;
  margin: 24px auto 0 auto;

  display: flex;
  flex-direction: column;
}

main p,
main h1 {
  padding: 0 16px;
}

.intro {
  margin: 16px 0 0 0;
}

.subheading_container {
  margin-top: 32px;
}

.subheading:not(:first-child) {
  margin-top: 8px;
}

.body {
  margin-top: 16px;
}

.icon_container {
  margin: 16px auto 0 auto;
  width: fit-content;
}

/* section - news */
.news {
  padding: 0 16px;
  width: fit-content;
  margin: 48px auto 0 auto;
}

.news_card {
  position: relative;
  background-color: var(--clr-neutral-200);
  margin: 24px 0 0 0;
  border-radius: 15px;
  max-width: 328px;
}

.news_card-01::after {
  content: "Auction Insights";
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: absolute;
  width: 250px;
  height: 35px;
  background-color: var(--clr-primary-400);
  top: 175px;
  left: 0;
}

.news_card-02::after {
  content: "Efficiency Redefined";
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: absolute;
  width: 250px;
  height: 35px;
  background-color: var(--clr-primary-400);
  top: 175px;
  left: 0;
}

.news_card-03::after {
  content: "Transparency Matters";
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: absolute;
  width: 250px;
  height: 35px;
  background-color: var(--clr-primary-400);
  top: 175px;
  left: 0;
}

.news_card-04::after {
  content: "Network Expansion";
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: absolute;
  width: 250px;
  height: 35px;
  background-color: var(--clr-primary-400);
  top: 175px;
  left: 0;
}

.news_card img {
  width: 100%;
  height: auto;
}

.news_card h3 {
  padding: 0 16px;
}

.news_card-body {
  margin-top: 8px;
  padding: 0 16px 16px 16px;
}

/* section - feature */
.feature {
  padding: 0 16px;
  width: fit-content;
  margin: 48px auto 0 auto;
}

.feature_card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-neutral-200);
  border-radius: 25px;
  padding: 16px;
  max-width: 328px;
}

.feature_card-body {
  text-align: center;
}

/* section - info */
.info {
  padding: 0 16px;
  width: fit-content;
  margin: 48px auto 0 auto;
}

/* testimonials */
.testimonials {
  padding: 0 16px;
  width: fit-content;
  margin: 48px auto 0 auto;
}

/* section - getInTouch */
.getInTouch {
  margin-top: 48px;
  padding: 0 16px;
}

.getInTouch textarea {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-bottom: 0;
}

.form_submit {
  font-family: var(--ff-primary-200);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-600);
  margin: 24px 0 0 0;
  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-100);
  border: 2px solid var(--clr-neutral-100);
  border-radius: 25px;
  padding: 5px 15px;
}

.form_message-label {
  margin-top: 24px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-500);
  margin: 48px 0 0 0;
  padding: 32px 16px;
}

.footer_icon-container {
  display: flex;
  margin: 24px 0;
}

.footer_icon-container a {
  color: white;
  padding: 0 8px;
  font-size: var(--fs-800);
}

/* Add your desired styles here */
.accordion {
  width: 100%;
  max-width: 600px;
  margin: 48px auto;
  padding: 0 16px;
}

.accordion_questions {
  margin-top: 24px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex; /* Add this line to make the items flex containers */
  flex-direction: column; /* Stack the header and content vertically */
}

.accordion-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-header h3 {
  margin: 0;
  width: 300px;
  padding-right: 8px;
  font-size: var(--fs-500);
  font-family: var(--ff-primary-100);
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  width: 100%; /* Make the answer content take up 100% width */
}

.body {
  display: block;
  width: 100%;
}

.accordion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  padding: 0;
  margin: 4px 0 0 0;
  line-height: 0;
}

picture {
  width: fit-content;
  height: auto;
}

.hero_img {
  width: 100%;
  height: auto;
}

.info picture {
  margin: 16px 0 0 0;
}
