:root {
  /* Font Sizes */
  --fs-400: clamp(0.8594rem, 0.8177rem + 0.2083vw, 1rem);
  --fs-500: clamp(1.0313rem, 0.9664rem + 0.3241vw, 1.25rem);
  --fs-600: clamp(1.2375rem, 1.1412rem + 0.4815vw, 1.5625rem);
  --fs-700: clamp(1.485rem, 1.3463rem + 0.6935vw, 1.9531rem);
  --fs-800: clamp(1.7819rem, 1.5865rem + 0.9769vw, 2.4413rem);
  --fs-900: clamp(2.1381rem, 1.8674rem + 1.3537vw, 3.0519rem);
  --fs-1000: clamp(2.5663rem, 2.1963rem + 1.85vw, 3.815rem);
  --fs-1100: clamp(3.0794rem, 2.579rem + 2.5019vw, 4.7681rem);
  --fs-1200: clamp(3.695rem, 3.0237rem + 3.3565vw, 5.9606rem);

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /* Font Families */
  --ff-primary-100: "Inter", sans-serif;
  --ff-primary-200: "Urbanist", sans-serif;

  /* Colour Palette */
  --clr-primary-100: #7526e3;
  --clr-primary-200: #056663;
  --clr-primary-300: #05628a;

  --clr-secondary-100: #2684ff;
  --clr-secondary-200: #ff5630;
  --clr-secondary-300: #f0790a;
  --clr-secondary-400: #0ba062;

  --clr-neutral-100: #25252d;
  --clr-neutral-200: hsl(0, 0%, 100%);
  --clr-neutral-300: #f7fbfe;
  --clr-neutral-400: #a1a3a4;
  --clr-neutral-500: #6c6c84;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-weight: inherit;
}

body {
  background-color: var(--clr-neutral-300);
}

/* Typography */
h1,
h2,
h3,
h4 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
}

h1 {
  font-size: var(--fs-1200);
  font-weight: var(--fw-extra-bold);
  line-height: 0.5;
}

h2 {
  font-size: var(--fs-800);
  font-weight: var(--fw-extra-bold);
  line-height: 1;
}

h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  margin-top: 24px;
}

legend {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
}

footer h3 {
  color: var(--clr-neutral-200);
}

main .intro {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-600);
}

main .subheading {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-600);
  line-height: 1;
  font-weight: var(--fw-semi-bold);
}

.feature_card-body,
.accordion .body {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: 16.5;
}

.info_body {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  margin-top: 16px;
}

.footer_body {
  color: var(--clr-neutral-200);
  font-size: var(--fs-400);
  font-family: var(--ff-primary-100);
  margin-top: 16px;
}

.news_card-body {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: 16.5;
  line-height: 1.3;
  margin-top: 16px;
}

main .summary {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  margin-top: 24px;
}

.news_card::after {
  color: var(--clr-neutral-200);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  line-height: 1;
  font-family: var(--ff-primary-100);
}

.getInTouch label {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
}

footer small {
  color: var(--clr-neutral-200);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-400);
}

.signup_page label {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: 16.5;
}
.signup_page input {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: 16.5;
}
.signup_page select {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
  font-size: 16.5;
}

/* buttons */
.link-01 {
  color: var(--clr-neutral-200);
  font-family: var(--ff-primary-100);
  font-size: var(--fs-600);
  text-decoration: none;
  font-weight: var(--fw-bold);
  background-color: var(--clr-secondary-300);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 4px 16px;
  border: 2px solid white;
  margin: 32px auto 0 auto;
}

/* icons */
.icon_container a {
  color: var(--clr-neutral-100);
  font-size: var(--fs-800);
  margin: 0 8px;
  width: 33px;
  height: auto;
}

/* Section Spacing */
section.getInTouch,
section.accordion,
section.news,
section.feature,
section.testimonials,
section.info,
footer {
  margin-top: 96px;
}

main {
  margin-top: 32px;
}

@media (min-width: 768px) {
  section.getInTouch,
  section.accordion,
  section.news,
  section.feature,
  section.testimonials,
  section.info,
  footer {
    margin-top: 64px;
  }

  main {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  section.getInTouch,
  section.accordion,
  section.news,
  section.feature,
  section.testimonials,
  section.info {
    margin-top: 128px;
  }

  main {
    margin-top: 48px;
  }
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--clr-primary-100);
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header_logo {
  font-family: var(--ff-primary-200);
  font-size: 2.375em;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.header_nav-menu {
  background-color: var(--clr-primary-100);
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  font-size: 1.375em;
  font-family: var(--ff-primary-100);
  font-weight: 700;
  width: 100px;
  cursor: pointer;
}

nav ul {
  font-family: var(--ff-primary-100);
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  left: 0;
  flex-direction: column;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  top: 44px;
  padding: 0;
}

nav ul a {
  color: white;
  text-decoration: none;
}

nav ul li {
  text-align: center;
  list-style-type: none;
  font-size: var(--fs-500);
  padding: 8px 0;
}

nav ul.open {
  max-height: 100vh;
  overflow: visible;
  background-color: var(--clr-primary-100);
  z-index: 1000;
}

.header_nav-bold {
  font-weight: 700;
}

.signup-link {
  background-color: #fffb0d;
  color: black;
  border-radius: 15px;
  padding: 4px 12px;
  font-weight: var(--fw-bold);
}

.login {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 15px;
  padding: 4px 12px;
  font-weight: var(--fw-semi-bold);
}

@media screen and (min-width: 768px) {
  .header_nav-menu {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    overflow: visible;
    position: static;
  }

  nav li {
    margin: 0 16px;
  }

  nav li:last-child {
    margin: 0 16px 0 0;
  }
}

/* main */
main {
  width: fit-content;
  margin: 24px auto 0 auto;
  background-color: #f7fbfe;
  display: flex;
  flex-direction: column;
}

main p,
main h1 {
  padding: 0 16px;
}

.intro {
  margin: 16px 0 0 0;
}

.subheading_container {
  margin-top: 40px;
}

.subheading:not(:first-child) {
  margin-top: 8px;
}

.icon_container {
  display: flex;
  margin: 16px auto 0 auto;
  width: fit-content;
}

.icon_container img {
  background-color: var(--clr-neutral-300);
  width: 35px;
  margin: 16px 4px 0 4px;
}

@media (min-width: 500px) {
  main {
    max-width: 532px;
  }
}

@media (min-width: 1000px) {
  /* main */
  main {
    width: min(100%, 1400px);
    margin: 24px auto 0 auto;
    background-color: #f7fbfe;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 40px;
    align-items: center;
    gap: 40px;
    max-width: initial;
  }

  .link-01 {
    margin: 32px 0 0 16px;
  }

  .icon_container {
    display: flex;
    margin: 16px auto 0 auto;
    width: fit-content;
    flex-direction: column;
  }

  .icon_container img {
    background-color: var(--clr-neutral-300);
    width: 35px;
    margin: 8px 0;
  }

  main p,
  main h1 {
    padding: 0 16px;
  }

  .intro {
    margin: 0px 0 0 0;
  }

  .subheading_container {
    margin-top: 48px;
  }

  .subheading:not(:first-child) {
    margin-top: 12px;
  }

  .body {
    margin-top: 32px;
    max-inline-size: 600px;
  }

  .icon_container {
    margin: 0 auto 0 auto;
    width: fit-content;
  }
}

/* section - news */
.news {
  padding: 0 16px;
  width: fit-content;
  margin: 48px auto 0 auto;
}

.news_card {
  background-color: var(--clr-neutral-200);
  margin: 24px 0 0 0;
  border-radius: 15px;
  max-width: 328px;
}

@media (min-width: 600px) {
  .grid_news-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

.news picture {
  position: relative;
}

.news_card-01 picture::after {
  content: "Auction Insights";
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: absolute;
  width: 70%;
  height: 35px;
  background-color: var(--clr-secondary-100);
  bottom: -17.5px;
  left: 0;
  font-family: var(--ff-primary-100);
  color: white;
  font-weight: var(--fw-semi-bold);
}

.news_card-02 picture::after {
  content: "Efficiency Redefined";
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: absolute;
  width: 70%;
  height: 35px;
  background-color: var(--clr-secondary-100);
  bottom: -17.5px;
  left: 0;
  font-family: var(--ff-primary-100);
  color: white;
  font-weight: var(--fw-semi-bold);
}

.news_card-03 picture::after {
  content: "Transparency Matters";
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: absolute;
  width: 70%;
  height: 35px;
  background-color: var(--clr-secondary-100);
  bottom: -17.5px;
  left: 0;
  font-family: var(--ff-primary-100);
  color: white;
  font-weight: var(--fw-semi-bold);
}

.news_card-04 picture::after {
  content: "Network Expansion";
  display: flex;
  align-items: center;
  padding-left: 8px;
  position: absolute;
  width: 70%;
  height: 35px;
  background-color: var(--clr-secondary-100);
  bottom: -17.5px;
  left: 0;
  font-family: var(--ff-primary-100);
  color: white;
  font-weight: var(--fw-semi-bold);
}

*/ .news_card img {
  width: 100%;
  height: auto;
}

.news_card h3 {
  padding: 0 16px;
}

.news_card-body {
  margin-top: 8px;
  padding: 0 16px 16px 16px;
}

@media (min-width: 1200px) {
  /* section - news */
  .news {
    padding: 0 16px;
    width: fit-content;
    margin: 48px auto 0 auto;
  }

  .grid_news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: min(100%, 1400px);
  }

  .news_card {
    position: relative;
    background-color: var(--clr-neutral-200);
    margin: 24px 0 0 0;
    border-radius: 15px;
    max-width: 328px;
  }

  .news_card img {
    width: 100%;
    height: auto;
  }

  .news_card h3 {
    padding: 0 16px;
  }

  .news_card-body {
    margin-top: 8px;
    padding: 0 16px 16px 16px;
  }
}

/* section - feature */
.feature {
  width: fit-content;
  margin: 48px auto 0 auto;
}

.feature_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-neutral-200);
  border-radius: 25px;
  padding: 16px;
  max-width: 280px;
}

.feature_card:not(:first-child) {
  margin-top: 24px;
}

feature_card-body {
  text-align: center;
}

.feature__grid {
  background-color: rgba(4, 0, 255, 0.075);
  padding: 24px;
  border-radius: 0;
  margin-top: 24px;
}

@media (min-width: 600px) {
  .feature__grid {
    background-color: rgba(4, 0, 255, 0.075);
    padding: 24px;
    border-radius: 0;
    margin-top: 24px;
  }
}

@media (min-width: 800px) {
  /* section - feature */
  .feature__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 24px;
    border-radius: 24px;
  }
  .feature {
    width: fit-content;
    margin: 48px auto 0 auto;
  }

  .feature_card:not(:first-child) {
    margin-top: 0px;
  }

  .feature_card {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-neutral-200);
    border-radius: 25px;
    padding: 16px;
    max-width: 280px;
  }

  .feature_card-body {
    text-align: center;
    margin-top: 8px;
  }
}

/* section - info */
.info {
  padding: 0 16px;
  width: fit-content;
  margin: 48px auto 0 auto;
}

@media (min-width: 1200px) {
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px;
    width: fit-content;
    margin: 48px auto 0 auto;
  }
}

/* testimonials */
.testimonials {
  padding: 0 16px;
  width: fit-content;
  margin: 48px auto 0 auto;
  background-color: var(--clr-neutral-300);
}

/* section - accordion */
.accordion {
  width: 100%;
  max-width: 600px;
  margin: 48px auto;
  padding: 0 16px;
}

.accordion_questions {
  margin-top: 24px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.accordion-header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-header h3 {
  margin: 0;
  width: 300px;
  padding-right: 8px;
  font-size: var(--fs-500);
  font-family: var(--ff-primary-100);
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  width: 100%;
}

.accordion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  padding: 0;
  margin: 4px 0 0 0;
  line-height: 0;
}

/* section - getInTouch */
.getInTouch {
  margin: 48px auto 0 auto;
  padding: 0 16px;
  width: min(100%, 800px);
}

.getInTouch textarea {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-bottom: 0;
}

input[type="text"],
input[type="email"] {
  max-width: 300px;
}

textarea {
  height: 170px;
}

.form_submit {
  font-family: var(--ff-primary-100);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-600);
  margin: 24px 0 0 0;
  color: var(--clr-neutral-200);
  background-color: var(--clr-secondary-400);
  border: none;
  border-radius: 25px;
  padding: 4px 16px;
}

.form_message-label {
  margin-top: 24px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-100);
  margin: 64px 0 0 0;
  padding: 32px 16px;
}

.footer_logo {
  font-family: var(--ff-primary-200);
  font-size: 2.375em;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.footer_icon-container {
  display: flex;
  margin: 24px 0;
}

.footer_body {
  max-inline-size: 80ch;
  text-align: center;
}

.footer_icon-container a {
  color: white;
  padding: 0 8px;
  font-size: var(--fs-700);
}

.footer_icon-container img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(193deg)
    brightness(105%) contrast(102%);
  width: 33px;
  height: auto;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bebebe;
}

p {
  max-inline-size: 700px;
}

picture {
  width: fit-content;
  height: auto;
}

.hero_img {
  width: 100%;
  height: auto;
}

.info picture {
  margin: 16px 0 0 0;
}

/* Subpage - Signup (Grid) */
.signup {
  width: min(100%, 350px);
  margin: 64px auto 0 auto;
}

.signup form label {
  width: fit-content;
  margin-top: 16px;
  font-family: var(--ff-primary-100);
  font-size: 13px;
  font-weight: var(--fw-semi-bold);
}

.signup form input {
  margin-top: 4px;
  border: 2px solid #dedde2;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px 0 4px 8px;
  font-family: var(--ff-primary-100);
}

.signup form input:focus {
  outline: none;
  border: 2px solid var(--clr-primary-100);
}

select {
  font-family: var(--ff-primary-100);
}

.signup span {
  color: red;
}

.signup img {
  border-radius: 15px;
}

.signup .link-02 {
  color: var(--clr-neutral-300);
  font-family: var(--ff-primary-100);
  font-size: 16.5px;
  text-decoration: none;
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-primary-100);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px;
  border: 2px solid white;
  margin-top: 16px;
  margin: 24px auto 0 auto;
}

.signup .link-02:hover {
  cursor: pointer;
}

.signup_form-pwd {
  position: relative;
}

.signup_form-pwd::before {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  background-image: url("../image/svg/disabled_visible.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  width: 30px;
  height: 30px;
}

.signup_form-confpwd {
  position: relative;
}

.signup_form-confpwd::before {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  background-image: url("../image/svg/disabled_visible.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  width: 30px;
  height: 30px;
}

.signup p {
  font-size: 16.5px;
  color: var(--clr-neutral-500);
  font-family: var(--ff-primary-100);
  margin-top: 16px;
  width: min(100%, 350px);
}

.signup h2 {
  width: min(100%, 490px);
}

fieldset {
  border: none;
  margin: 40px 0 0 0;
  padding: 0;
  width: min(100%, 490px);
}

form {
  width: min(100%, 490px);
}

legend {
  margin: 0 0 0 -3px;
}

input {
  width: min(100%, 350px);
}

input[type="text"],
input[type="email"] {
  max-width: initial;
}

input[type="text"],
input[type="email"] {
  width: min(100%, 350px);
}

*::placeholder {
  color: var(--clr-neutral-500);
  font-size: 13px;
}

#username,
#password,
#confirmPassword {
  width: min(100%, 350px);
}

#email {
  width: min(100%, 350px);
}

#businessName,
#phoneNumber,
#nzBusinessNumber,
#nzGstNumber {
  width: min(100%, 350px);
}

#role,
#location,
#hqlocation {
  width: min(100%, 350px);
  padding: 4px 0 4px 8px;
  border: 2px solid #dedde2;
  color: rgb(67, 67, 67);
  font-size: 14px;
  font-weight: var(--fw-semi-bold);
}
