<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agora - Redefining Commerce Through Engaging Auctions"
    />
    <meta
      name="keywords"
      content="Agora, online auction, commerce, business networking"
    />
    <title>agora</title>
    <link rel="stylesheet" href="../style/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header role="banner">
      <a href="../index.html" class="header_logo">agora</a>
      <nav role="navigation">
        <button class="header_nav-menu">Menu</button>
        <ul>
          <li><a class="header_nav-home" href="../index.html">Home</a></li>
          <li>
            <a class="header_nav-auction header__bold" href="auction.html"
              >Auction</a
            >
          </li>
          <li>
            <a class="header_nav-dashboard" href="dashboard.html">Dashboard</a>
          </li>
          <li><a class="signup-link" href="signup.html">Signup</a></li>
          <li><a class="login-link" href="login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <section class="auction_banner">
      <div class="auction_banner-bg">
        <h2>Grab Upto 2.5% Off On <br />Selected Fruit</h2>
        <a href="#">Search by Fruit</a>
      </div>
    </section>

    <section class="shop">
      <h2>Shop</h2>
      <div class="shop_item__wrapper">
        <article class="shop_item">
          <img src="../image/aerogard.png" alt="" />
          <div class="shop_item-header">
            <h4>Aeroglad</h4>
            <div class="price">$10.00</div>
          </div>
          <p>Aerogard Heavy Duty 40% Deet Repellent</p>
          <a href="#">Bid</a>
        </article>

        <article class="shop_item">
          <img src="../image/weet_bix.png" alt="" />
          <div class="shop_item-header">
            <h4>Aeroglad</h4>
            <div class="price">$20.99</div>
          </div>
          <p>Aerogard Heavy Duty 40% Deet Repellent</p>
          <a href="#">Bid</a>
        </article>

        <article class="shop_item">
          <img src="../image/candle_5.png" alt="" />
          <div class="shop_item-header">
            <h4>Hoorah Numeral Candle 5</h4>
            <div class="price">$2.50</div>
          </div>
          <p>Add a lovely finishing touch to your childs birthday cake.</p>
          <a href="#">Bid</a>
        </article>

        <article class="shop_item">
          <img src="../image/golden_syrup.png" alt="" />
          <div class="shop_item-header">
            <h4>Aeroglad</h4>
            <div class="price">$20.99</div>
          </div>
          <p>Aerogard Heavy Duty 40% Deet Repellent</p>
          <a href="#">Bid</a>
        </article>

        <article class="shop_item">
          <img src="../image/froot_loops.png" alt="" />
          <div class="shop_item-header">
            <h4>Kelloggs Froot Loops 460g</h4>
            <div class="price">$20.99</div>
          </div>
          <p>The perfect breakfast cereal bursting with fruity flavour.</p>
          <a href="#">Bid</a>
        </article>

        <article class="shop_item">
          <img src="../image/granola.png" alt="" />
          <div class="shop_item-header">
            <h4>Aeroglad</h4>
            <div class="price">$20.99</div>
          </div>
          <p>Aerogard Heavy Duty 40% Deet Repellent</p>
          <a href="#">Bid</a>
        </article>

        <article class="shop_item">
          <img src="../image/peanut_butter.png" alt="" />
          <div class="shop_item-header">
            <h4>Aeroglad</h4>
            <div class="price">$20.99</div>
          </div>
          <p>Aerogard Heavy Duty 40% Deet Repellent</p>
          <a href="#">Bid</a>
        </article>

        <article class="shop_item">
          <img src="../image/vitamen_c.png" alt="" />
          <div class="shop_item-header">
            <h4>Aeroglad</h4>
            <div class="price">$20.99</div>
          </div>
          <p>Aerogard Heavy Duty 40% Deet Repellent</p>
          <a href="#">Bid</a>
        </article>
      </div>
    </section>

    <footer>
      <a href="#" class="footer_logo">agora</a>
      <h3>Connect, Transact, Thrive with Agora: Your Business Advantage</h3>
      <p class="footer_body">
        Discover a new era of seamless commerce and networking with Agora's
        innovative online auction platform. Experience efficiency, transparency,
        and growth like never before. Join Agora today and redefine your
        business success.
      </p>
      <div class="footer_icon-container">
        <a href="#"
          ><img
            src="../image/facebook.svg"
            alt="Facebook logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>

        <a href="#"
          ><img
            src="../image/instagram.svg"
            alt="Instagram logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>

        <a href="#"
          ><img
            src="../image/twitter.svg"
            alt="Twitter logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>
      </div>
      <small>Copyright 2023, Agora BCDE224</small>
    </footer>

    <script src="../script/script.js"></script>
  </body>
</html>
