<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agora - Redefining Commerce Through Engaging Auctions"
    />
    <meta
      name="keywords"
      content="Agora, online auction, commerce, business networking"
    />
    <title>agora</title>
    <link rel="stylesheet" href="../style/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header role="banner">
      <a href="../index.html" class="header_logo">agora</a>
      <nav role="navigation">
        <button class="header_nav-menu">Menu</button>
        <ul>
          <li><a class="header_nav-home" href="../index.html">Home</a></li>
          <li><a class="header_nav-auction" href="auction.html">Auction</a></li>
          <li>
            <a class="header_nav-dashboard" href="dashboard.html">Dashboard</a>
          </li>
          <li><a class="signup-link" href="signup.html">Signup</a></li>
          <li><a class="login" href="login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <footer>
      <a href="#" class="header_logo">agora</a>
      <h3>Connect, Transact, Thrive with Agora: Your Business Advantage</h3>
      <p class="body">
        Discover a new era of seamless commerce and networking with Agora's
        innovative online auction platform. Experience efficiency, transparency,
        and growth like never before. Join Agora today and redefine your
        business success.
      </p>
      <div class="footer_icon-container">
        <a href="#"
          ><img
            src="../image/facebook.svg"
            alt="Facebook logo."
            width="auto"
            height="auto"
        /></a>
        <a href="#"
          ><img
            src="../image/instagram.svg"
            alt="Instagram logo."
            width="auto"
            height="auto"
        /></a>

        <a href="#"
          ><img
            src="../image/twitter.svg"
            alt="Twitter logo."
            width="auto"
            height="auto"
        /></a>
      </div>
      <small>Copyright 2023, Agora BCDE224</small>
    </footer>

    <script src="../script/script.js"></script>
  </body>
</html>
