<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agora - Redefining Commerce Through Engaging Auctions"
    />
    <meta
      name="keywords"
      content="Agora, online auction, commerce, business networking"
    />
    <title>agora</title>
    <link rel="stylesheet" href="../style/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header role="banner">
      <a href="../index.html" class="header_logo">agora</a>
      <nav role="navigation">
        <button class="header_nav-menu">Menu</button>
        <ul>
          <li><a class="header_nav-home" href="../index.html">Home</a></li>
          <li><a class="header_nav-auction" href="auction.html">Auction</a></li>
          <li>
            <a class="header_nav-dashboard" href="dashboard.html">Dashboard</a>
          </li>
          <li><a class="signup-link" href="signup.html">Signup</a></li>
          <li><a class="login-link" href="login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <section class="login">
      <h2>Login</h2>
      <h3>Welcome back!</h3>
      <div class="login_btn__wrapper">
        <a href="#">
          <div class="login_btn">
            <img src="../image/svg/login_google.svg" alt="" />
          </div>
        </a>
        <a href="#">
          <div class="login_btn">
            <img src="../image/svg/login_apple.svg" alt="" />
          </div>
        </a>
        <a href="#">
          <div class="login_btn">
            <img src="../image/svg/login_facebook.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="or">or</div>

      <form
        name="loginForm"
        onsubmit="return validateLogin()"
        action="login.php"
        method="post"
      >
        <fieldset>
          <legend>Enter your username and password</legend>

          <label for="loginUsername">Username</label>
          <input
            type="text"
            id="loginUsername"
            name="loginUsername"
            placeholder="Enter your username"
            required
          />

          <label for="loginPassword">Password</label>
          <input
            type="password"
            id="loginPassword"
            name="loginPassword"
            placeholder="Enter your password"
            required
          />
          <span class="login_form-pwd"></span>
        </fieldset>

        <input class="link-02" type="submit" value="Login" />
      </form>

      <div class="login_create">
        <p>Don't have an account? <a href="signup.html">Create one now.</a></p>
      </div>
    </section>

    <footer>
      <a href="#" class="footer_logo">agora</a>
      <h3>Connect, Transact, Thrive with Agora: Your Business Advantage</h3>
      <p class="footer_body">
        Discover a new era of seamless commerce and networking with Agora's
        innovative online auction platform. Experience efficiency, transparency,
        and growth like never before. Join Agora today and redefine your
        business success.
      </p>
      <div class="footer_icon-container">
        <a href="#"
          ><img
            src="../image/facebook.svg"
            alt="Facebook logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>

        <a href="#"
          ><img
            src="../image/instagram.svg"
            alt="Instagram logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>

        <a href="#"
          ><img
            src="../image/twitter.svg"
            alt="Twitter logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>
      </div>
      <small>Copyright 2023, Agora BCDE224</small>
    </footer>
    <script src="../script/script.js"></script>
  </body>
</html>
