<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Agora - Redefining Commerce Through Engaging Auctions"
    />
    <meta
      name="keywords"
      content="Agora, online auction, commerce, business networking"
    />
    <title>agora</title>
    <link rel="stylesheet" href="../style/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header role="banner">
      <a href="../index.html" class="header_logo">agora</a>
      <nav role="navigation">
        <button class="header_nav-menu">Menu</button>
        <ul>
          <li><a class="header_nav-home" href="../index.html">Home</a></li>
          <li><a class="header_nav-auction" href="auction.html">Auction</a></li>
          <li>
            <a class="header_nav-dashboard" href="dashboard.html">Dashboard</a>
          </li>
          <li>
            <a class="signup-link" href="signup.html">Signup</a>
          </li>
          <li><a class="login-link" href="login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <section class="signup">
      <h2>Signup</h2>
      <h3>Fill out the form below to register</h3>
      <p>We suggest using the email address you use at work.</p>
      <form
        name="registrationForm"
        onsubmit="return validateSignup()"
        action="signup.php"
        method="post"
      >
        <fieldset>
          <legend>Personal Details</legend>

          <label for="username">Username <span>*</span></label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Choose a unique username"
            required
          />

          <label for="password">Password <span>*</span></label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter a strong password"
            required
          />
          <span class="signup_form-pwd"></span>

          <label for="confirmPassword">Confirm Password <span>*</span></label>
          <input
            placeholder="Re-enter your password"
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
          <span class="signup_form-confpwd"></span>

          <label for="email">Email Address <span>*</span></label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Your email address"
            required
          />

          <label for="location">Location <span>*</span></label>
          <select id="location" name="location" required>
            <option value="none">Select your location</option>
            <option value="Auckland">Auckland</option>
            <option value="Bay of Plenty">Bay of Plenty</option>
            <option value="Canterbury">Canterbury</option>
            <option value="Gisborne">Gisborne</option>
            <option value="Hawke's Bay">Hawke's Bay</option>
            <option value="Manawatu-Whanganui">Manawatu</option>
            <option value="Marlborough">Marlborough</option>
            <option value="Nelson">Nelson</option>
            <option value="Northland">Northland</option>
            <option value="Otago">Otago</option>
            <option value="Southland">Southland</option>
            <option value="Taranaki">Taranaki</option>
            <option value="Tasman">Tasman</option>
            <option value="Waikato">Waikato</option>
            <option value="Wellington">Wellington</option>
          </select>

          <label for="phoneNumber">Phone Number</label>
          <input
            type="tel"
            id="phoneNumber"
            name="phoneNumber"
            placeholder="Your phone number (optional)"
          />

          <label for="role">Role <span>*</span></label>
          <select id="role" name="role" required>
            <option value="Buyer">Select your role</option>
            <option value="Buyer">Business Administrator</option>
            <option value="Buyer">Buyer Account</option>
            <option value="Seller">Seller Account</option>
          </select>
        </fieldset>

        <fieldset>
          <legend>Legal Business Details</legend>

          <label for="businessName">Business Name <span>*</span></label>
          <input
            type="text"
            id="businessName"
            name="businessName"
            placeholder="Your business name"
            required
          />

          <label for="hqlocation">HQ Location <span>*</span></label>
          <select id="hqlocation" name="hqlocation" required>
            <option value="none">Select your HQ location</option>
            <option value="Auckland">Auckland</option>
            <option value="Bay of Plenty">Bay of Plenty</option>
            <option value="Canterbury">Canterbury</option>
            <option value="Gisborne">Gisborne</option>
            <option value="Hawke's Bay">Hawke's Bay</option>
            <option value="Manawatu-Whanganui">Manawatu</option>
            <option value="Marlborough">Marlborough</option>
            <option value="Nelson">Nelson</option>
            <option value="Northland">Northland</option>
            <option value="Otago">Otago</option>
            <option value="Southland">Southland</option>
            <option value="Taranaki">Taranaki</option>
            <option value="Tasman">Tasman</option>
            <option value="Waikato">Waikato</option>
            <option value="Wellington">Wellington</option>
          </select>

          <label for="nzBusinessNumber"
            >NZ Business Number <span>*</span></label
          >
          <input
            type="text"
            id="nzBusinessNumber"
            name="nzBusinessNumber"
            placeholder="Please enter your 13 digit number"
            required
          />

          <label for="nzGstNumber">NZ GST Number <span>*</span></label>
          <input
            type="text"
            id="nzGstNumber"
            name="nzGstNumber"
            placeholder="Please enter your 8 or 9 digit number"
            required
          />
        </fieldset>

        <input class="link-02" type="submit" value="Register" />
      </form>
    </section>

    <footer>
      <a href="#" class="footer_logo">agora</a>
      <h3>Connect, Transact, Thrive with Agora: Your Business Advantage</h3>
      <p class="footer_body">
        Discover a new era of seamless commerce and networking with Agora's
        innovative online auction platform. Experience efficiency, transparency,
        and growth like never before. Join Agora today and redefine your
        business success.
      </p>
      <div class="footer_icon-container">
        <a href="#"
          ><img
            src="../image/facebook.svg"
            alt="Facebook logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>

        <a href="#"
          ><img
            src="../image/instagram.svg"
            alt="Instagram logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>

        <a href="#"
          ><img
            src="../image/twitter.svg"
            alt="Twitter logo."
            width="auto"
            height="auto"
            loading="lazy"
        /></a>
      </div>
      <small>Copyright 2023, Agora BCDE224</small>
    </footer>

    <script src="../script/script.js"></script>
  </body>
</html>
